In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
sportininkai = pd.read_csv("athlete_events.csv")
salys = pd.read_csv("noc_regions.csv")

In [8]:
bendras = pd.merge(sportininkai, salys, on="NOC", how="left")

In [10]:
bendras.set_index("ID", inplace=True)

In [13]:
bendras.describe()

                 Age         Height         Weight           Year
count  261642.000000  210945.000000  208241.000000  271116.000000
mean       25.556898     175.338970      70.702393    1978.378480
std         6.393561      10.518462      14.348020      29.877632
min        10.000000     127.000000      25.000000    1896.000000
25%        21.000000     168.000000      60.000000    1960.000000
50%        24.000000     175.000000      70.000000    1988.000000
75%        28.000000     183.000000      79.000000    2002.000000
max        97.000000     226.000000     214.000000    2016.000000

In [15]:
auksoMedaliai = bendras[(bendras.Medal == 'Gold')]

In [17]:
auksoMedaliai.describe()

                Age        Height        Weight          Year
count  13224.000000  10539.000000  10254.000000  13372.000000
mean      25.901013    177.898472     74.183879   1973.131618
std        5.892887     11.052521     15.207425     34.179153
min       13.000000    136.000000     28.000000   1896.000000
25%       22.000000    170.000000     63.000000   1952.000000
50%       25.000000    178.000000     73.000000   1984.000000
75%       29.000000    185.000000     84.000000   2002.000000
max       64.000000    223.000000    170.000000   2016.000000